ul, ol {
    padding-left: 0;
    list-style-type: none
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #c3c3c3
}

::-webkit-scrollbar-track {
    background-color: transparent
}

.container_box {
    min-height: 630px
}

.container_box.cell_layout {
    *overflow: hidden
}

.container_box.cell_layout .col_side, .container_box.cell_layout .col_main {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word;
    word-break: break-all
}

.container_box.cell_layout .col_side {
    width: 20%;
    max-width: 191px
}

.container_box.cell_layout .col_main {
    width: 2000px;
    height: 630px
}

.container_box.cell_layout .col_side {
    *float: left;
    *width: 191px;
    *padding-bottom: 9999em;
    *margin-bottom: -9999em
}

.container_box.cell_layout .col_main {
    *zoom: 1;
    *width: auto;
    *height: auto
}

.container_hd, .main_hd {
    line-height: 36px
}

.inner.wrp {
    margin-left: auto;
    margin-right: auto
}

.container_box {
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #fff;
    margin-top: 44px
}

.size1of1 {
    width: 100%
}

.size1of2 {
    width: 50%
}

.size1of3 {
    width: 33.33%
}

.size1of4 {
    width: 25%
}

.size1of5 {
    width: 20%
}

.size1of6 {
    width: 16.66%
}

.size1of7 {
    width: 14.28%
}

.size1of8 {
    width: 12.5%
}

button.btn {
    height: 34px;
    line-height: 30px
}

.btn button {
    display: block;
    height: 100%;
    background-color: transparent;
    border: 0;
    outline: 0;
    overflow: visible;
    padding: 0 23px
}

.btn.btn_input {
    padding: 0
}

.btn.btn_input.btn_vcode {
    margin-left: 5px
}

.btn.btn_input.btn_vcode button {
    width: 110px;
    padding: 0
}

.btn.btn_vcode {
    padding: 0;
    width: 110px;
    margin-left: 5px
}

.btn {
    display: inline-block;
    overflow: visible;
    padding: 0 23px;
    height: 32px;
    line-height: 32px;
    *line-height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 14px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer
}

.btn:hover {
    text-decoration: none
}

.btn.btn_mini {
    height: 21px;
    line-height: 21px;
    *line-height: 19px;
    padding: 0 10px
}

.btn.btn_small {
    height: 25px;
    line-height: 25px;
    *line-height: 23px;
    padding: 0 12px
}

.btn.btn_large {
    height: 38px;
    line-height: 38px;
    *line-height: 36px;
    padding: 0 70px
}

.btn.btn_p20 {
    padding: 0 20px
}

.btn.btn_p30 {
    padding: 0 30px
}

.btn.btn_w125 {
    width: 125px;
    padding: 0
}

.btn.btn_w150 {
    width: 150px;
    padding: 0
}

.btn.btn_w220 {
    width: 220px;
    padding: 0
}

.btn_default {
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 100%);
    border-color: #e6e7ec;
    color: #000
}

.btn_default button {
    color: #000
}

.btn_default:hover {
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 100%);
    border-color: #c3c3c3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #000
}

.btn_primary {
    background-color: #44b549;
    background-image: -moz-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#44b549), to(#44b549));
    background-image: -webkit-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: -o-linear-gradient(top, #44b549 0, #44b549 100%);
    background-image: linear-gradient(to bottom, #44b549 0, #44b549 100%);
    border-color: #3eac27;
    color: #fff
}

.btn_primary button {
    color: #fff
}

.btn_primary:hover {
    background-color: #4aaf33;
    background-image: -moz-linear-gradient(top, #4aaf33 0, #4aaf33 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4aaf33), to(#4aaf33));
    background-image: -webkit-linear-gradient(top, #4aaf33 0, #4aaf33 100%);
    background-image: -o-linear-gradient(top, #4aaf33 0, #4aaf33 100%);
    background-image: linear-gradient(to bottom, #4aaf33 0, #4aaf33 100%);
    border-color: #3d810c;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff
}

.btn_primary:hover button {
    color: #fff
}

.btn_disabled {
    background-color: #e4e4e4;
    background-image: -moz-linear-gradient(top, #e4e4e4 0, #e4e4e4 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #e4e4e4 0, #e4e4e4 100%);
    background-image: -o-linear-gradient(top, #e4e4e4 0, #e4e4e4 100%);
    background-image: linear-gradient(to bottom, #e4e4e4 0, #e4e4e4 100%);
    border-color: #cecece;
    color: #bababb;
    cursor: default
}

.btn_disabled button {
    color: #bababb;
    cursor: default
}

.btn_disabled:hover {
    background-color: #e4e4e4;
    background-image: -moz-linear-gradient(top, #e4e4e4 0, #e4e4e4 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e4e4e4), to(#e4e4e4));
    background-image: -webkit-linear-gradient(top, #e4e4e4 0, #e4e4e4 100%);
    background-image: -o-linear-gradient(top, #e4e4e4 0, #e4e4e4 100%);
    background-image: linear-gradient(to bottom, #e4e4e4 0, #e4e4e4 100%);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #cecece;
    color: #bababb
}

.btn_disabled:hover button {
    color: #bababb;
    cursor: default
}

.btn {
    min-width: 60px
}

.btn:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.btn.btn_primary {
    border-color: #44b549
}

.btn.btn_primary.btn_loading {
    border-color: #e6e7ec
}

.btn.btn_disabled {
    border-color: #e6e7ec
}

.btn.btn_default:hover {
    border-color: #e6e7ec
}

.btn.btn_add i {
    margin-right: 5px;
    margin-top: -2px
}

.frm_tab {
    overflow: hidden;
    *zoom: 1
}

.frm_tab_navs {
    *zoom: 1
}

.frm_tab_navs:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.frm_tab_nav {
    float: left;
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 100%);
    border-color: #e6e7ec;
    color: #000;
    height: 32px;
    line-height: 32px;
    *line-height: 30px;
    width: auto;
    padding-left: 36px;
    padding-right: 36px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-right: -1px
}

.frm_tab_nav button {
    color: #000
}

.frm_tab_nav:hover {
    background-color: #f1f1f1;
    background-image: -moz-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#f1f1f1));
    background-image: -webkit-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: -o-linear-gradient(top, #f1f1f1 0, #f1f1f1 100%);
    background-image: linear-gradient(to bottom, #f1f1f1 0, #f1f1f1 100%);
    border-color: #c3c3c3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: #000
}

.frm_tab_nav:hover button {
    color: #000
}

.frm_tab_nav:hover {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.frm_tab_nav.selected {
    background: 0;
    background-color: #888;
    border-color: #e6e7ec;
    box-shadow: inset 0 3px 8px #555;
    -moz-box-shadow: inset 0 3px 8px #555;
    -webkit-box-shadow: inset 0 3px 8px #555;
    color: #fff
}

.frm_tab_panel {
    padding: 10px 0
}

.frm_tab_split {
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid #e6e7ec;
    box-shadow: 0 1px 0 0 #fff;
    -moz-box-shadow: 0 1px 0 0 #fff;
    -webkit-box-shadow: 0 1px 0 0 #fff
}

.frm_tab_split .arrow_stop {
    position: relative
}

.frm_tab_split .arrow {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: dashed;
    border-color: transparent;
    border-top-width: 0;
    border-bottom-color: #e6e7ec;
    border-bottom-style: solid
}

.frm_tab_split .arrow_out {
    top: -12px;
    border-bottom-color: #e6e7ec
}

.frm_tab_split .arrow_in {
    top: -10px;
    border-bottom-color: #fff
}

.frm_tab_split .arrow_extra {
    top: -11px;
    border-bottom-color: #fff
}

.frm_tab_tips {
    padding-top: 4px;
    color: #c1c2c3
}

.form_wrp.simple {
    text-align: center
}

.form_wrp.simple .form {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left
}

.form.tips_inline .frm_tips {
    width: auto;
    display: inline-block
}

.frm_vertical_lh {
    line-height: 37px
}

.frm_vertical_pt {
    padding-top: .35em
}

.frm_fieldset {
    padding-top: 25px;
    padding-top: 0 \9
}

.frm_fieldset.no_legend {
    padding-top: 25px
}

.frm_legend {
    display: block;
    width: 100%;
    *margin-left: -0.35em;
    margin-bottom: 25px \9;
    padding-bottom: 5px
}

.frm_legend .tips {
    color: #9e9f9f;
    margin-left: 14px
}

.frm_desc {
    color: #a3a3a3
}

.frm_tips {
    color: #c1c2c3
}

.frm_tips.gap_bottom {
    padding-bottom: 5px
}

.frm_tips, .frm_msg {
    padding-top: 4px;
    width: 320px
}

.frm_msg {
    display: none;
    overflow: hidden;
    *zoom: 1
}

.frm_msg i {
    float: left;
    font-weight: 400;
    font-style: normal;
    margin-right: 3px
}

.frm_msg.success {
    color: #7fba4f
}

.frm_msg.fail {
    color: #e96262
}

.frm_control_group {
    *zoom: 1;
    padding-bottom: 25px
}

.frm_control_group:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both
}

.frm_control_group.show_value {
    padding-bottom: 15px
}

.frm_control_group.show_value .frm_input_box {
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    padding: 0;
    border-width: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: 0;
    line-height: 1.6;
    vertical-align: top;
    margin-top: .35em
}

.frm_control_group.frm_label_block .frm_label {
    display: block;
    width: auto;
    float: none;
    font-size: 14px;
    margin-bottom: .5em
}

.frm_control_group.frm_control_block .frm_textarea_box, .frm_control_group.frm_control_block .frm_input_box, .frm_control_group.frm_control_block .frm_msg, .frm_control_group.frm_control_block .frm_tips {
    display: block;
    width: auto
}

.frm_label {
    float: left;
    width: 5em;
    margin-top: .35em;
    margin-right: 1em;
    font-size: 14px
}

.frm_label_tips {
    display: block;
    color: #c1c2c3
}

.frm_controls {
    display: table-cell;
    vertical-align: top;
    float: none;
    width: auto;
    *display: block;
    *zoom: 1
}

.frm_controls:after {
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    visibility: hidden;
    clear: both;
    height: 0 !important;
    display: block;
    line-height: 0
}

.frm_input, .frm_textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: 0
}

.frm_input {
    height: 27px;
    line-height: 27px;
    margin: 4px 0
}

.frm_textarea {
    height: 100px
}

.frm_input_box {
    display: inline-block;
    position: relative;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    width: 298px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff
}

.frm_input_box .frm_input_append {
    *height: 35px;
    font-size: 0
}

.frm_input_box.search {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px
}

.frm_input_box.append {
    padding-right: 30px
}

.frm_input_box.append .frm_input_append {
    position: absolute;
    top: 0;
    right: .8em
}

.frm_input_box.prepend {
    padding-left: 30px
}

.frm_input_box.prepend .frm_input_append {
    position: absolute;
    top: 0;
    left: .8em
}

.frm_input_box.tips_inline {
    padding-right: 10px
}

.frm_input_box.tips_inline .frm_input_append {
    font-size: 14px
}

.frm_input_box.with_counter .frm_counter {
    width: 50px;
    color: #c1c2c3;
    font-size: 14px;
    font-weight: 400;
    font-style: normal
}

.frm_input_box.with_counter.warn .frm_counter {
    color: #e96262
}

.frm_input_box.counter_in {
    padding-right: 70px
}

.frm_input_box.counter_in .frm_counter {
    right: 0;
    text-align: right;
    padding-right: 10px
}

.frm_input_box.counter_out {
    padding-right: 10px
}

.frm_input_box.counter_out .frm_counter {
    right: -60px;
    padding-left: 10px
}

.frm_input_box.vcode {
    width: 157px
}

.frm_input_box.zone {
    width: 72px;
    margin-right: 5px
}

.frm_input_box.phone {
    width: 175px
}

.align_counter .frm_msg, .align_counter .frm_tips {
    margin-top: -27px
}

.frm_textarea_box {
    display: inline-block;
    width: 498px;
    padding: 4px 0 4px 10px;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #fff
}

.frm_textarea_box.with_counter {
    position: relative;
    margin-bottom: 27px
}

.frm_textarea_box.with_counter .frm_counter {
    color: #c1c2c3;
    font-size: 14px;
    font-weight: 400;
    font-style: normal
}

.frm_textarea_box.with_counter.warn .frm_counter {
    color: #e96262
}

.frm_textarea_box.counter_out .frm_counter {
    position: absolute;
    bottom: -27px;
    right: 0
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .frm_select_box {
        padding: 0
    }

    .frm_select_box:after {
        content: " ";
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -2px;
        display: inline-block;
        width: 0;
        height: 0;
        border-width: 4px;
        border-style: dashed;
        border-color: transparent;
        border-bottom-width: 0;
        border-top-color: #777;
        border-top-style: solid
    }

    .frm_select {
        -webkit-appearance: none;
        height: 37px
    }
}

.forget_password{
    font-weight:normal;
    font-size:14px;
    right:40px;
    position: absolute;
    margin-top: 5px
}

.frm_label {
    margin-top: 7px
}

.frm_label .tips {
    display: block;
    font-weight: 400;
    font-style: normal;
    color: #c1c2c3
}

.frm_input_box.vcode {
    width: 175px
}

.frm_control_group.textarea .frm_textarea {
    height: 45px
}

.frm_control_group.textarea .frm_tips, .frm_control_group.textarea .frm_msg {
    width: 510px
}

.frm_msg_content {
    display: inline;
}

.frm_normal_msg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.frm_inner_tips {
    padding-top: 7px;
    padding-bottom: 5px;
    color: #c1c2c3
}

.frm_inner_controls {
    padding-bottom: 20px
}

.frm_msg.fail {
    margin-top: 10px
}

.frm_input_box {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.frm_textarea_box {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

.focus.frm_input_box, .focus.frm_textarea_box, .focus.frm_select_box {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none
}

/* uploadFile */
.thumbnail > .imgPreview > img {
    display: block;
    max-width: 100%;
    height: auto
}

.thumbnail > .imgPreview > img {
    margin-right: auto;
    margin-left: auto
}

